<nav class="navbar navbar-expand-lg  fixed-top" style="background-color: #363535;">
  <div class="container-fluid">
    <img src="../../assets/pictures/337547179_667775341818638_8428463684273120430_n.png" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" routerLink="/home">Αρχική</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" routerLink="/office">Το Γραφείο μας</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" routerLink="/fields_of_law">Τομείς Δικαίου</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" routerLink="/posts">Δημοσιεύσεις</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" routerLink="/contact">Επικοινωνία</a>
        </li>
      </ul>
    </div>
  </div>
</nav>