<div class="mx-auto" style="max-width: 1000px; max-height: 50px; margin-top: 150px;" >
    <div>
        <img src="../../assets/pictures/431039_10152812725450063_1131519786_n.jpg" alt="">
    </div>
    <div class="col-xs-12" style="margin: 50px; text-align: center;">
        <p><strong>Τηλ. Επικοινωνίας:</strong> 2110154707, 6932769013</p>
        <p><strong>Email:</strong> info@krclaw.gr</p>
        <p><strong>Περιοχή:</strong> Κλεισθένους 3, Αθήνα 105 52</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d786.2059877405801!2d23.725721730411074!3d37.98123762484858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bd24d8c8b3a1%3A0xecd0ea3067c74499!2zzprOu861zrnPg864zq3Ovc6_z4XPgiAzLCDOkc64zq7Ovc6xIDEwNSA1Mg!5e0!3m2!1sel!2sgr!4v1682170572335!5m2!1sel!2sgr" width="600" height="450" style="border:0; margin: 50px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>