<div class="mx-auto" style="max-width: 1000px; max-height: 50px; margin-top: 200px;" >
    <!-- <div>
        
        <p><strong>  ΔΙΚΑΙΟ ΑΛΛΟΔΑΠΩΝ</strong> 
    Αιτήσεις χορήγησης – ανανέωσης αδειών διαμονής, αιτήσεις θεραπείας κατά απορριπτικών αποφάσεων, αιτήσεις ακύρωσης κατά αποφάσεων της Διοίκησης και προσωρινής δικαστικής προστασίας, αντιρρήσεις κατά της κράτησης διοικητικά κρατουμένων. Το γραφείο μας εξειδικεύεται σε υποθέσεις σχετικές με άδειες διαμονής όλων των τύπων και κατηγοριών, το πρόγραμμα Golden Visa (Μόνιμη άδεια διαμονής επενδυτή) και Digital Nomad (Ψηφιακοί Νομάδες).
        </p>
        
    </div>

    <div>
        <p>  <strong> ΥΠΟΘΕΣΕΙΣ ΕΛΛΗΝΙΚΗΣ ΙΘΑΓΕΝΕΙΑΣ </strong>
            Αιτήσεις απόδοσης ιθαγένειας λόγω φοίτησης ή γέννησης και φοίτησης στην Ελλάδα, αιτήσεις πολιτογράφησης, αιτήσεις καθορισμού και διαπίστωσης ελληνικής ιθαγένειας, προσφυγές και αιτήσεις ακύρωσης κατά απορριπτικών αποφάσεων. Εξασφάλιση της πλήρωσης των κριτηρίων για τη θετική έκβαση των υποθέσεων που αφορούν την απόκτηση της ελληνικής ιθαγένειας.
        </p>
    </div> -->
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card" style="width: 25rem;">
                    <img class="card-img-top" src="../../assets/pictures/ΔΙΚΑΙΟ ΑΛΛΟΔΑΠΩΝ.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">ΔΙΚΑΙΟ ΑΛΛΟΔΑΠΩΝ</h5>
                    <p class="card-text">Αιτήσεις χορήγησης – ανανέωσης αδειών διαμονής, αιτήσεις θεραπείας κατά απορριπτικών αποφάσεων, αιτήσεις ακύρωσης κατά αποφάσεων της Διοίκησης και προσωρινής δικαστικής προστασίας, αντιρρήσεις κατά της κράτησης διοικητικά κρατουμένων. Το γραφείο μας εξειδικεύεται σε υποθέσεις σχετικές με άδειες διαμονής όλων των τύπων και κατηγοριών, το πρόγραμμα Golden Visa (Μόνιμη άδεια διαμονής επενδυτή) και Digital Nomad (Ψηφιακοί Νομάδες).</p>
                    </div>
                </div>
            </div>
            
            <div class="col-6">
                <div class="card" style="width: 25rem;">
                    <img class="card-img-top" src="../../assets/pictures/ΙΘΑΓΕΝΕΙΑ.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">ΥΠΟΘΕΣΕΙΣ ΕΛΛΗΝΙΚΗΣ ΙΘΑΓΕΝΕΙΑΣ</h5>
                    <p class="card-text">Αιτήσεις απόδοσης ιθαγένειας λόγω φοίτησης ή γέννησης και φοίτησης στην Ελλάδα, αιτήσεις πολιτογράφησης, αιτήσεις καθορισμού και διαπίστωσης ελληνικής ιθαγένειας, προσφυγές και αιτήσεις ακύρωσης κατά απορριπτικών αποφάσεων. Εξασφάλιση της πλήρωσης των κριτηρίων για τη θετική έκβαση των υποθέσεων που αφορούν την απόκτηση της ελληνικής ιθαγένειας.</p>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card" style="width: 25rem;">
                    <img class="card-img-top" src="../../assets/pictures/ΑΚΙΝΗΤΑ.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">ΑΚΙΝΗΤΑ - REAL ESTATE</h5>
                    <p class="card-text">Το γραφείο μας αναλαμβάνει όλες τις διαδικασίες που αφορούν την αγορά και πώληση ακινήτων, όπως είναι η σύνταξη και επικύρωση προσυμφώνων και συμβολαίων, ο έλεγχος τίτλων και κτηματολογικών εγγραφών, η εξάλειψη προσημειώσεων και άρση κατασχέσεων, καθώς και η εξασφάλιση ενός ακινήτου χωρίς νομικά ή πραγματικά ελαττώματα. Παρέχουμε επίσης συμβουλές και υπηρεσίες για τη διασφάλιση των δικαιωμάτων των αγοραστών και πωλητών και την αποτροπή νομικών προβλημάτων στο μέλλον.</p>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card" style="width: 25rem;">
                    <img class="card-img-top" src="../../assets/pictures/ΠΟΙΝΙΚΟ ΔΙΚΑΙΟ.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">ΠΟΙΝΙΚΟ ΔΙΚΑΙΟ</h5>
                    <p class="card-text">Στο δικηγορικό μας γραφείο, εμείς και οι συνεργάτες μας παρέχουμε εκπροσώπηση σε κάθε στάδιο της ποινικής δίκης. Αναλαμβάνουμε τη σύνταξη και κατάθεση απολογητικών υπομνημάτων, μηνύσεων, εφέσεων, καθώς και τη μετατροπή και δοσοποίηση ποινών. Με την εμπειρία και την εξειδίκευσή μας στον τομέα του ποινικού δικαίου, εξασφαλίζουμε ότι οι πελάτες μας έχουν την καλύτερη δυνατή υποστήριξη κατά τη διάρκεια της δίκης τους</p>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card" style="width: 25rem;">
                    <img class="card-img-top" src="../../assets/pictures/ΟΙΚΟΓΕΝΕΙΑΚΟ ΔΙΚΑΙΟ.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">ΟΙΚΟΓΕΝΕΙΑΚΟ ΔΙΚΑΙΟ</h5>
                    <p class="card-text">Αναλαμβάνουμε υποθέσεις διαζυγίων, επιμέλειας τέκνων και διατροφής, αναγνώρισης και προσβολής πατρότητας, καθώς και ρύθμισης σχέσεων γονέων και τέκνων. Με εμπειρία και σοβαρότητα, αντιμετωπίζουμε κάθε υπόθεση με ευαισθησία και επαγγελματισμό.
                        Στόχος μας είναι η εξεύρεση συμβιβαστικών λύσεων που θα εξυπηρετούν τα συμφέροντα των γονέων και των τέκνων, σε συνεργασία με έμπειρους  διαμεσολαβητές. Προσφέρουμε επίσης τη δυνατότητα να αναλάβουμε την εκπόνηση αντίστοιχων συμφωνητικών και να διασφαλίσουμε τα δικαιώματα των ενδιαφερομένων μερών.
                        Κατανοούμε τη σημασία των θεμάτων που αφορούν την οικογένεια και είμαστε πάντα διαθέσιμοι να σας παρέχουμε τις συμβουλές και την υποστήριξη που χρειάζεστε σε κάθε στάδιο της διαδικασίας.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>