<div class="mx-auto" style="max-width: 1000px; max-height: 50px; margin-top: 150px;" >


               
        <div>
                <img src="../../assets/pictures/ΤΟ ΓΡΑΦΕΙΟ ΜΑΣ.jpg" alt="" id="office_image">
            <p style="margin: 30px;">
                Το γραφείο μας ιδρύθηκε από τον δικηγόρο Πέτρο Καραχρήστου, σε νέες σύγχρονες εγκαταστάσεις στο κέντρο της Αθήνας. 
            Με πολυετή εμπειρία σε υποθέσεις αλλοδαπών και μετανάστευσης, ιθαγένειας, ακινήτων - Real Estate, ποινικού και οικογενειακού δικαίου, 
            το γραφείο μας ανταποκρίνεται σε κάθε ανάγκη των εντολέων μας με ακρίβεια και επαγγελματισμό.
            </p>  
            <p style="margin: 30px;">
            
              Με βασική μας αρχή την αφοσίωση στα δικαιώματα και τα συμφέροντα των εντολέων μας και την παροχή των καλύτερων δυνατών υπηρεσιών, 
              το δικηγορικό μας γραφείο έχει κερδίσει την πολυετή και σταθερή εμπιστοσύνη των ανθρώπων που απευθύνονται σε εμάς και αποτελεί την πλέον αξιόπιστη και αποτελεσματική λύση στα ζητήματα που σας απασχολούν.
            </p>
        </div>  
            
          &nbsp; 
       <div>
        <img src="../../assets/pictures/ΠΕΤΡΟΣ ΚΑΡΑΧΡΗΣΤΟΥ.jpg" alt="" id="petros">
            <p><strong>   Πέτρος Κ. Καραχρήστου – Δικηγόρος Αθηνών: </strong>  
              Ο Πέτρος Κ. Καραχρήστου είναι απόφοιτος της Νομικής Σχολής του Δημοκριτείου Πανεπιστημίου Θράκης. 
              Από το 2014 απασχολείται εξειδικευμένα σε υποθέσεις του δικαίου αλλοδαπών και μετανάστευσης και έχει χειριστεί, μεταξύ άλλων, 
              χιλιάδες υποθέσεις αδειών διαμονής και ιθαγένειας. Είναι μέλος της Ένωσης Δικαίου Αλλοδαπών και Μετανάστευσης και της Ένωσης Ποινικολόγων και Μαχόμενων Δικηγόρων. 
              Λόγω της εξειδίκευσης του στο αντικείμενο του Δικαίου Κατάστασης Αλλοδαπών, συμμετείχε ενεργά από το έτος 2015 ως μέλος στην Επιτροπή Μετανάστευσης και Ασύλου και κατόπιν, 
              έως σήμερα, στην Επιτροπή Μετανάστευσης και Ιθαγένειας του Δικηγορικού Συλλόγου Αθηνών. 
            </p>
            Λαμβάνει μέρος σε επιστημονικά συνέδρια και ημερίδες ως σύνεδρος και ως εισηγητής. 
            Συμμετείχε, ως εισηγητής, στην ημερίδα της παράταξης του Δ.Σ.Α., 
            Σύγχρονη Δικηγορία, με θέμα «Επίκαιρα ζητήματα Mεταναστευτικού Δικαίου», 
            όπου ανέλυσε το ζήτημα της άδειας διαμονής για εξαιρετικούς λόγους και στο 6ο Πανελλήνιο Συνέδριο της Ένωσης Δικαίου Αλλοδαπών και Μετανάστευσης, 
            με θέμα της εισήγησης του την Πολιτογράφηση. Έχει εκδώσει τον «Πρακτικό Οδηγό Ανανέωσης Αδειών Διαμονής», 
            για χρήση από δικηγόρους και αρθρογραφεί σε ζητήματα μετανάστευσης και ιθαγένειας.
            <p>

            </p>
        </div>    

            &nbsp;

            <h4 style="text-align: center; text-decoration: underline;">Συνεργαζόμενοι Δικηγόροι</h4>

            &nbsp;
        
            <p><strong>Δικηγορική Εταιρεία Κουντούρη – Πελτέκη και Συνεργάτες   </strong>
                     – Εξειδίκευση σε ζητήματα αστικού και εμπορικού δικαίου, ποινικού δικαίου, διαπιστευμένοι διαμεσολαβητές 
            </p>
            
            <p><strong> Γιάννης Μπαρκαγιάννης </strong>– Ποινικολόγος με ενεργή καθημερινή παρουσία σε σημαντικές δίκες 
            </p>

            <p> 
              <strong> Μαργαρίτα Δακορώνια </strong> – Δικηγόρος με εμπειρία και σημαντικές επιτυχίες στον τομέα του οικογενειακού και του ευρύτερου αστικού δικαίου
            </p>
                
        
        <div>    
          <h4 style="text-align: center; text-decoration: underline;"> Συνεργαζόμενοι συμβολαιογράφοι</h4>

          &nbsp;
          <div>
            <p><strong>Κωνσταντίνος Θάνος   </strong>
             – Συμβολαιογράφος Σαλαμίνας</p>

             <p><strong>Αυγερινού Σέβη</strong>
             – Συμβολαιογράφος Αθηνών
            </p>
          </div>
        </div>
</div>


